@using PersonalProject.InternalPortal.Models.Users
@model CreateUserViewModel
@{
    ViewData["Title"] = "Add Auth Rep";
}

<h1>Add Auth Rep</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InstallerId" type="hidden">
            <input asp-for="RoleId" type="hidden" value="1">

            <div class="col-12">
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input id="email-input" asp-for="Email" class="form-control" />
            </div>

            <br />
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a href="/">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}