@using PersonalProject.InternalPortal.Models.Applications
@model CreateApplicationViewModel
@{
    ViewData["Title"] = "Create Application";
}

<h1>
    Create Application
    <small class="text-muted"> (@Model.InstallerName)</small>
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="InstallerId" type="hidden" />
            <input asp-for="InstallerName" type="hidden" />

            <div class="form-group">
                <label asp-for="FlaggedForAudit" class="control-label">Flagged For Audit</label>
                <br />
                <div class="form-check form-check-inline">
                    <label for="FlaggedForAudit-yes" class="form-check-label">Yes</label>
                    <input asp-for="FlaggedForAudit" id="FlaggedForAudit-yes" class="form-check-input" value="true" type="radio" />
                </div>
                <div class="form-check form-check-inline">
                    <label for="FlaggedForAudit-no" class="form-check-label">No</label>
                    <input asp-for="FlaggedForAudit" id="FlaggedForAudit-no" class="form-check-input" value="false" type="radio" checked />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SubmittedDate">Submitted Date</label>
                <span asp-validation-for="SubmittedDate" class="text-danger"></span>
                <input id="SubmittedDate" asp-for="SubmittedDate" class="form-control" type="date" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TechTypeId" class="control-label">Tech Type</label>
                <br />
                @foreach(var techType in Model.TechTypes)
                {
                    <div class="form-check">
                        <label for="TechType-@techType.Id" class="form-check-label">@techType.Description</label>
                        <input asp-for="TechTypeId" id="TechType-@techType.Id" class="form-check-input" value="@techType.Id" type="radio" />
                    </div>
                }
            </div>
            <br />
            <div class="form-group">
                <div class="col-12">
                    <label asp-for="EpcNumber">EPC Reference Number</label>
                    <span asp-validation-for="EpcNumber" class="text-danger"></span>
                    <input id="EpcNumber" asp-for="EpcNumber" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-12">
                    <label asp-for="PropertyOwnerEmail">Property Owner Email</label>
                    <span asp-validation-for="PropertyOwnerEmail" class="text-danger"></span>
                    <input id="PropertyOwnerEmail" asp-for="PropertyOwnerEmail" class="form-control" />
                </div>
            </div>
            <br />
            <div id="address" class="form-group">
                <h3>Installation Address Details</h3>
                <div class="col-12">
                    <label asp-for="AddressLine1">Address Line 1</label>
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    <input id="addressLine1" asp-for="AddressLine1" class="form-control" placeholder="e.g 1234 Main St" />
                </div>
                <div class="col-12">
                    <label asp-for="AddressLine2">Address Line 2</label>
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    <input id="addressLine2" asp-for="AddressLine2" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-6">
                    <label asp-for="AddressLine3">City/County</label>
                    <span asp-validation-for="AddressLine3" class="text-danger"></span>
                    <input id="addressLine3" asp-for="AddressLine3" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-4">
                    <label asp-for="UPRN">UPRN</label>
                    <span asp-validation-for="UPRN" class="text-danger"></span>
                    <input id="uprn" asp-for="UPRN" class="form-control" placeholder="(optional)">
                </div>
                <div class="col-md-4">
                    <label asp-for="Postcode">Postcode</label>
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                    <input id="postcode" asp-for="Postcode" class="form-control" placeholder="e.g. E14 5NY">
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a href="/Home/ApplicationDashboard">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}