html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

[aria-sort]:first-child button{
    right: auto;
}

[aria-sort] button, [aria-sort] button:hover {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

[aria-sort=descending] button:before, [aria-sort=ascending] button:before {
    content: none;
}

[aria-sort=none] button:before {
    content: "\25b4";
    position: absolute;
    right: -5px;
    top: 10px;
    font-size:12px;
}

[aria-sort=none] button:after {
    content: "\25be";
    position: absolute;
    right: -5px;
    top: -1px;
    font-size: 12px;
}

[aria-sort=descending] button:before {
    content: "\25b4";
    position: absolute;
    right: -5px;
    top: 10px;
    font-size: 12px;
}

[aria-sort=ascending] button:after {
    content: "\25be";
    position: absolute;
    right: -5px;
    top: -1px;
    font-size: 12px;
}

[aria-sort] button:focus {
    background-color: #000000;
    color: #0b0c0c;
    box-shadow: 0 -3px #ffdd00, 0 4px #0b0c0c;
    outline: none;
}