@page
@model PersonalProject.ConsentPortal.Pages.Shared.RoutingErrorModel
@{
    ViewData["Title"] = Model.ErrorTitle;
}

<div class="text-center">
    <h1>@Model.ErrorTitle</h1>
    <p>@Model.ErrorContent</p>
</div>
