@page 
@model PersonalProject.ConsentPortal.Pages.Consent.SessionExpiredModel
@{
}

<div class="text-center">
    <div class="alert alert-warning" role="alert">
        Session Expired
    </div>
    <p>
        If you still need to give consent please click on the email link again.
    </p>
</div>